apiVersion: v1
kind: Service
metadata:
  name: controller-manager-metrics
  namespace: system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: operator-augmented-networkpolicy
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    control-plane: controller-manager
  ports:
    - name: metrics
      port: 8080
      targetPort: metrics
      protocol: TCP
