apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "operator-augmented-networkpolicy.fullname" . }}-manager-role
  labels:
    {{- include "operator-augmented-networkpolicy.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - networking.ayoy.se
    resources:
      - networkpolicies
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - networking.ayoy.se
    resources:
      - networkpolicies/finalizers
    verbs:
      - update
  - apiGroups:
      - networking.ayoy.se
    resources:
      - networkpolicies/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - networking.k8s.io
    resources:
      - networkpolicies
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
