apiVersion: networking.ayoy.se/v1alpha1
kind: NetworkPolicy
metadata:
  name: sample-networkpolicy
  namespace: default
spec:
  podSelector:
    matchLabels:
      app: web
  policyTypes:
  - Egress
  egress:
  - ports:
    - protocol: TCP
      port: 443
    to:
    - hostname: example.com
  resolutionInterval: 5m
